.body {
    margin-bottom: 60px;
}

.footer {
    bottom: 0;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #ccc;
    padding: 10px 0;
}

.footer a {
    color: #333;
    text-decoration: none;
}

.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}